absl-py
altair
astunparse
attrs
beautifulsoup4
blinker
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cryptography
cycler
deepface
filelock
fire
firebase-admin
Flask
Flask-Cors
flatbuffers
fonttools
gast
gdown
git-filter-repo
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h5py
httplib2
idna
imutils
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kagglehub
keras
Keras-Preprocessing
kiwisolver
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
msgpack
mtcnn
mysql-connector-python
namex
narwhals
numpy
oauthlib
opencv-python
opt_einsum
optree
packaging
pandas
pillow
plotly
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
Pygments
PyJWT
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
referencing
reportlab
requests
requests-oauthlib
retina-face
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
six
smmap
soupsieve
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
tf-estimator-nightly
tf_keras
threadpoolctl
toml
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
wrapt
XlsxWriter
